Flask
Flask-SQLAlchemy
Flask-CORS
Flask-JWT-Extended
Flask-SocketIO
Flask-Caching
PyMySQL
python-dotenv
bcrypt
Werkzeug
eventlet
python-escpos
Pillow
requests
marshmallow
flasgger
flask_migrate
flask_limiter
email-validator